<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule !\.(gif|jpg|png|css|js|html|ico|zip|rar|pdf|xml|mp4|mpg|flv|swf|mkv|ogg|avi|woff|svg|eot|ttf|jar)$ index.php
</IfModule>

# directory browsing
Options All -Indexes

# IF YOU GET a 500 Internal Server Error delete all code below
#enable PHP error logging
php_flag  log_errors on
php_value error_log  error_log.log

