@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
html,
body {
  overflow-x: hidden!important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #FFFFFF;
}
a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #FFF;
}
/* Header */
body > .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
/* Utility */
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
/* All images should be responsive */
img {
  max-width: 100% !important;
}
.pad {
  padding: 10px;
}
.margin {
  margin: 10px;
}
.clear {
	clear:both;
}
/* Display inline */
.inline {
  display: inline;
  width: auto;
}
/* Text colors */
.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #222222 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}
/*Hide elements by display none only*/
.hide {
  display: none !important;
}
/* Remove borders */
.no-border {
  border: 0px !important;
}
/* Remove padding */
.no-padding {
  padding: 0px !important;
}
/* Remove margins */
.no-margin {
  margin: 0px !important;
}
/* Remove box shadow */
.no-shadow {
  box-shadow: none!important;
}
body > .header {
	position: relative;
	max-height: 100px;
	z-index: 1030;
	background-color: #004F84;
	width: 100%;
}
body > .header .header-inner {
	width:80%;
	margin:0px auto;
}
body > .header .navbar {
  height: 70px;
  margin-bottom: 0;
  
}
body > .header .logo {
  float: left;
  font-size: 20px;
  line-height: 70px;
  text-align: left;
  width: 220px;
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  height: 70px;
  display: block;
  position:relative;
  z-index:9999;
}
.navbar-right {
    float: right;
}
.navbar-right form {
	margin:5px;
}
.navbar-right form input {
	width:200px;
	padding:5px;
}
.navbar-right .nav-bar-extra a{
    color:#CCC;
	margin-left:20px;
}
.navbar-right .nav-bar-extra a:hover {
	text-decoration:none;
	color:#FFF;
}
.index-container {
	height:500px;
	width:80%;
	margin:10px auto 10px auto;
}
.footer {
	height:100px;
	width:100%;
	background:#004F84;
}
.footer .footer_links {
	border-bottom:solid thin #999;
	min-height:40px;
	width:80%;
	margin:10px auto;
}
.footer .footer_links li {
	display:inline-block;
	list-style:none;
	margin-top:10px;
	margin-right:15px;
}
.footer .footer_links a {
	color:#CCC;
	font-weight:600;
}
.footer .footer_links a:hover {
	color:#FFF;
}
.footer .copyright_text {
	min-height:40px;
	width:80%;
	margin:10px auto;
	text-align:right;
	color:#FFF;
}
.footer .copyright_text a {
	color:#CCC;
}
.footer .copyright_text a:hover {
	text-decoration:underline;
}
.home-welcome {
	text-align:left;
	font-weight:800;
	color:#000;
}
.latest-users {
	min-height:400px;
	width:55%;
}
.latest-users .col-md-3 .thumbnail{
	border:none;
	width:80px;
	height:80px;
	margin:0px;
	padding:0px;
}
.latest-users .col-md-5 .thumbnail{
	border:none;
	width:140px;
	height:140px;
	margin:0px;
	padding:0px;
}
.latest-users .thumbnail img{
	height:100%;
	border:none;
	width:100%;
	line-height:12px;
	margin:0px;
}
.latest-users .col-md-3 {
	padding:0px;
	margin:0px;
	border:none;
	width:80px;
	height:80px;
}
.latest-users .col-md-5 {
	padding:0px;
	margin:0px;
	border:none;
	width:140px;
	height:140px;
}
.new-ms {
	display:inline-block;
	width:100%;
}
.home-hr {
	margin-bottom:3px;
}
.index-signup {
	min-height:400px;
	width:40%;
	margin-left:30px;
}
.index-signup form input {
	margin:-10px 0px;
	width:100%;
}
.index-signup form select {
	margin:0px;
	width:70%;
}
.index-signup h2 {
	margin:0px;
}
.latest-joined {
	font-weight:800;
	color:#999;
	margin:10px 0;
}
.latest-joined span {
	color:#03F;
}
.tooltip {
white-space:pre-wrap;
}
#tooltipbg + .tooltip > .tooltip-inner {
	background-color: #09F;
	color:#FFF;
	min-width:100px;
}
.site_notifications {
	float:right;
	width:30%;
	position:absolute;
	right:0;
	z-index:9999;
	margin-top:2px;
}
/* 
    Component: alert
------------------------
*/
.alert {
  padding-left: 30px;
  margin-left: 15px;
  position: relative;
}
.alert > .fa,
.alert > .glyphicon {
  position: absolute;
  left: -15px;
  top: -15px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  background: inherit;
  border: inherit;
}
.home_log_content {
	min-height:400px;
}
.home_log_content .home_login_welcome {
	width:40%;
	border:solid thin #DFDEDE;
	margin:50px auto;
	padding:20px;
}
.right-side {
	min-height:500px;
	width:80%;
	margin:10px auto;
}
.right-side .after-menu {
	float:left;
	width:100%;
	min-height:350px;
	margin:5px auto;
	padding:10px;
	position:relative;
}
