.nav_title {
	font-weight:800;
	font-family:Verdana, Geneva, sans-serif;
	padding-left:10px;
	background:#06F;
}
.top_nav .nav_menu{
	background:#06F;
	color:#ffffff;
}
.top_nav .nav_menu a {
	color:#FFF;
}
.admin_bar_menu {
	margin-right:50px;
}
.admin_bar_menu a {
	color:#FFF !important;
}
.admin_bar_menu span{
	color:#FFF !important;
}
.dropdown-menu{
	background:#09F !important;
	color:#FFF !important;
}
.dropdown-toggle{
	color:#FFF !important;
}
.dropdown-menu  a:hover {
	color: #000 !important;
	background-color: #E8F5FF;
}
.text_white {
	color:#FFF;
}
.s_version {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:800;
}
.s_version_fl {
	text-align:center;
}
.sec-error {
	width:100%;
	padding:5px 10px;
	display:inline-block;
}
.adm-members {
	padding:0 !important;
	width:100px;
}
.adm-members img {
	width:100%;
	margin-bottom:5px;
}
.styl-mb {
	padding:0 5px; 
	width:110px
}
.sty-pr {
	width:110px;
}
.upd_ava {
	background:#060;
	color:#FFF;
	padding:5px 10px;
	margin-bottom:15px !important;
}
.min-height {
	min-height:90vh!important;
}
.overflow-scroll {
	overflow-x:scroll !important;
}
.btn-sm2 {
	padding:3px 8px !important;
	font-size:12px !important;
}
.m-actions {
	display:inline-block;
	margin:5px 0;
	
}
.m-actions .dropdown a{
	color:#000;
}
.inline-display {
	display:inline-block !important;
}
.m-search-bar .form-inline{
	padding-top:8px;
	margin-left:100px;
	margin-right:-100px;
}
.modal-h {
	padding: 7px 20px !important;
	background-color: #EFEFEF;
}
.succ-mod {
	background:#060;
	color:#FFF;
	width:40%;
	position:absolute;
	left:30%;
	top:0;
	margin-top:56px;
	z-index:99999;
	border:none !important;
	font-size:15px;
}

.err-mod {
	background:#900;
	color:#FFF;
	width:40%;
	position:absolute;
	left:30%;
	top:0;
	margin-top:56px;
	z-index:99999;
	border:none !important;
	font-size:15px;
}
.no-display {
	display:none !important;
}
.block-display {
	display:block !important;
}
.credits-page {
	background:#FFF;
	padding-top:10px;
}
.cred_title{
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #7F7F7F;
}

.edit_prof_h3 {
	border-bottom:solid thin #C8C8C8;
	margin-bottom:20px;
}
.edt-prf,.edt-prf2 {
	border-bottom:solid thin #C8C8C8;
	margin-bottom:20px;
	padding-bottom:15px;
}
.edt-prf2 input{
	margin:5px 0 !important;
}
.min-edt-h {
	min-height:300px !important;
}
.min-edt-h2 {
	min-height:220px !important;
}
.input-group-addon {
	padding:5px !important;
	background:#09F;
	color:#FFF;
	font-size:12px;
}
.dob-inp {
	padding:0 !important;
	padding-left:5px !important;
}
.sucess-n {
	width:100%;
	padding:5px 10px;
	background:#060;
	color:#fff;
	margin:5px 0;
}

.error-n {
	width:100%;
	padding:5px 10px;
	background:#900;
	color:#fff;
	margin:5px 0;
}
.adding {
	font-size:16px;
	padding-top:7px;
	margin-left:20px;
	font-weight:900;
}
.adm-uri {
	color: #333;
	margin-top: 3px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
.adm-uri span {
	color:#06F;
}
.seo-logo {
	width:100%;
	height:70px;
	background:#09F;
	margin-bottom:10px;
}
.seo-logo img, .seo-favicon img {
	width:100%;
	padding:1px;
	height:100%;
}
.seo-favicon {
	width:64px;
	height:64px;
	margin-bottom:10px;
}
