.nav_title {
	font-weight:800;
	font-family:Verdana, Geneva, sans-serif;
	padding-left:10px;
	background:#06F;
}
.top_nav .nav_menu{
	background:#06F;
	color:#ffffff;
}
.top_nav .nav_menu a {
	color:#FFF;
}
.admin_bar_menu {
	margin-right:50px;
}
.admin_bar_menu a {
	color:#FFF !important;
}
.admin_bar_menu span{
	color:#FFF !important;
}
.dropdown-menu{
	background:#09F !important;
	color:#FFF !important;
}
.dropdown-toggle{
	color:#FFF !important;
}
.dropdown-menu  a:hover {
	color: #000 !important;
	background-color: #E8F5FF;
}
.text_white {
	color:#FFF;
}
.s_version {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:800;
}
.s_version_fl {
	text-align:center;
}
.sec-error {
	width:100%;
	padding:5px 10px;
	display:inline-block;
}
.adm-members {
	padding:0 !important;
	width:100px;
}
.adm-members img {
	width:100%;
	margin-bottom:5px;
}
.styl-mb {
	padding:0 5px; 
	width:110px
}
.sty-pr {
	width:110px;
}
.upd_ava {
	background:#060;
	color:#FFF;
	padding:5px 10px;
	margin-bottom:15px !important;
}
.min-height {
	min-height:90vh!important;
}
.overflow-scroll {
	overflow-x:scroll !important;
}
.btn-sm2 {
	padding:3px 8px !important;
	font-size:12px !important;
}
.m-actions {
	display:inline-block;
	margin:5px 0;
	
}
.m-actions .dropdown a{
	color:#000;
}
.inline-display {
	display:inline-block !important;
}
.m-search-bar .form-inline{
	padding-top:8px;
	margin-left:100px;
	margin-right:-100px;
}
.modal-h {
	padding: 7px 20px !important;
	background-color: #EFEFEF;
}
.succ-mod {
	background:#060;
	color:#FFF;
	width:40%;
	position:absolute;
	right:0;
	margin-right:10px;
	padding:10px;
	margin-top:60px;
	z-index:99;
	border:none !important;
}

.err-mod {
	background:#900;
	color:#FFF;
	width:40%;
	position:absolute;
	right:0;
	margin-right:10px;
	padding:10px;
	margin-top:60px;
	z-index:99;
	border:none !important;
}
.no-display {
	display:none !important;
}
.block-display {
	display:block !important;
}